{{#each this}}

  <li class='movie-card'>
    
 {{#if poster_path}}
 <img src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}'
       alt='{{name}}'
      class='movie-img'
      data-id={{id}}
      height="400px"
      data-type={{type}}{{media_type}}
     
    />
  {{else}}
   <img 
   src='https://i.pinimg.com/736x/83/46/1d/83461d0ef2351335f037cb38f42cbac7.jpg'

      class='movie-img'
      height="400px"
     
      data-id={{id}}
      data-type={{type}}{{media_type}}
      data-author={{titles}}
   
   />
   {{/if}}



  

    <h2 class='movie-title'>{{name}}</h2>
    <div class='movie-info'>
      {{genres}}
      |
      {{year}}
    </div>
  </li>

{{/each}}