<div class="modal-body">   
  
  {{#if poster_path}}
   <img
      src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}'
      alt='{{title}}{{name}}'
      class='modal-image'
    />
   
        {{else}}
   <img 
   src='https://i.pinimg.com/736x/83/46/1d/83461d0ef2351335f037cb38f42cbac7.jpg'

   
      
     width="300px"
     height="400px"
      alt='{{title}}{{name}}'
      class='modal-image'
   
   />
   {{/if}}
    <div>
      <h2 class='modal-title'>{{title}}{{name}}</h2>

 {{#if profile_path}}
 
 <ul>
     <li class="info-block"><span class='person-title'>BIRTHDAY</span><span
              class='value'
            >{{birthday}}</span></li>
  <li class="info-block"><span class='person-title'>DEATHDAY</span><span
              class='value'
            >{{deathday}}</span></li>
              <li class="info-block"><span class='person-title'>Popularity</span><span
              class='value'
            >{{popularity}}</span></li>
 
  <li></li>
  <li></li>
 </ul>
 
 

 {{else}}     <div>
        <ul>
          <li class="info-block"><span class='title'>Vote / Votes</span><span class="info"><span
                class='vote'
              >{{vote_average}}</span>
              /
              <span class='votes'>{{vote_count}}</span></span></li>
          <li class="info-block"><span class='title'>Popularity</span><span
              class='value'
            >{{popularity}}</span></li>
          <li class="info-block"><span class='title'>Original Title</span><span
              class='value'
            >{{original_title}}{{original_name}}</span></li>
          <li class="info-block"><span class='title'>Genre</span><span class='value'><ul>{{#each genres}}
                <li>{{name}}</li>{{/each}}</ul></li>
        </ul></span></li>
        </ul>
      </div>

     
      <div><h3 class="title-about">About</h3>
        <p class="overview">{{overview}}</p></div>
      <ul class="buttons">
        <li><a href='' class="modal-btn">add to Watched</a></li>
        <li><a href='' class="modal-btn">add to queue</a></li>
      </ul>
    </div>
       {{/if}}
    </div>


