<div class="modal-body">    <img
      src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}'
      alt=''
      class='modal-image'
    />
    <div>
      <h2 class='movie-title'>{{title}}</h2>

      <div>
        <ul>
          <li class="info-block"><span class='title'>Vote / Votes</span><span class="info"><span
                class='vote'
              >{{vote_average}}</span>
              /
              <span class='votes'>{{vote_count}}</span></span></li>
          <li class="info-block"><span class='title'>Popularity</span><span
              class='value'
            >{{popularity}}</span></li>
          <li class="info-block"><span class='title'>Original Title</span><span
              class='value'
            >{{original_title}}</span></li>
          <li class="info-block"><span class='title'>Genre</span><span class='value'><ul>{{#each genres}}
                <li>{{name}}</li>{{/each}}</ul></li>
        </ul></span></li>
        </ul>
      </div>

     
      <div><h3 class="title-about">About</h3>
        <p class="overview">{{overview}}</p></div>
      <ul class="buttons">
        <li><a href='' class="modal-btn">add to Watched</a></li>
        <li><a href='' class="modal-btn">add to queue</a></li>
      </ul>
    </div></div>


